.clockstyle {
  border-color: rgb(131, 131, 131);
  justify-content: center;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
}

#date-time {
  color: rgb(212, 117, 117);
}
