.environmentStyle{
    border-color: rgb(130, 169, 214);
    justify-content: center;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    flex-direction: column;
}
