.weatherstyle {
    overflow: hidden;
    border-color: rgb(175, 228, 195);
    justify-content: center;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
}